@import url(./font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container .fir-head {
    background-color: white;
}
nav {
   
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    margin-left: 70px;
}
nav ul {
    display: flex;
    gap: 3rem;
    padding-right: 50px;
}
nav ul li {
    list-style-type: none;
    position: relative;
    display: inline-block;
}
nav ul li::after {
    content: ' ';
    height: 3px;
    width: 0;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav ul li:hover::after {
    width: 100%;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
#joint {
  background-color: rgb(255, 81, 0);
  border: none;
  color: white; 
    padding: 15px 30px;
    border-radius: 15px 0px 15px 0px;
}
#joint:hover {
    border: 2px solid rgb(255, 81, 0);
    background-color: transparent;
    border-radius: 10px;
    color: black;
}
.hero-cont {
   width: 100%;
   background-color: #2D8CFF;
}
.hero {
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding: 10px 50px;
    margin-left: 70px;
    color: white;
    min-height: 83.5vh;
}
.logo {
    align-items: center;
    justify-content: center;
}
.logo p {
    color: white;
    font-size: 20px;
}
.cta-button {
    background-color: rgb(255, 81, 0);
    border: none;
    color: white; 
      padding: 15px 30px;
      border-radius: 15px 0px 15px 0px;
    cursor: pointer;
    font-size: 23px;
  }
  .cta-button:hover {
    border: 2px solid rgb(255, 81, 0);
    background-color: transparent;
    border-radius: 10px;
    color: black;
  }
  #activities {
    background-color: white; 
    color: black;
  }
  .hero header {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .hero header p.head {
    font-size: 45px;
  }
  .hero header p.head span {
    font-style: italic;
    font-weight: 700;
  }
  .hero header p.sub {
    font-weight: 400;
    font-size: 20px;
  }
  #about {
    background-color: #F5F5F5F5;
    padding: 40px 10px;
  }
  .about-us {
    display: flex;
    gap: 6.3rem;
    color: #D9D9D9;
    padding-bottom: 30px;
  }
  .about-us h2 {
    color: #D9D9D9;
    font-size: 50px;
  }
  .about-us h2.about-main {
    color: black;
  }
  .about {
    padding: 30px 30px;
    margin-left: 70px;
    background-color: rgb(255, 81, 0);
    width: 1142px;
    height: 496px;
    top: 212px;
    left: 99px;
    border-radius: 60px;
  }
  #about p {
    color: white;
    font-size: 30px;
    line-height: 30px;
    padding-top: 10px;
    text-indent: 1.5rem;
  }
  .activities {
    padding: 30px 50px;
    margin-left: 70px;
  }
  .activities ul {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    color: #338eda;
  }
  #benefit {
    background-color: #338eda; 
  }
  .benefit {
    padding: 30px 50px;
    margin-left: 70px;
  }
  .benefit ul li {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    color: white;
  }
  .footer-line {
    width: 92.5%;
    height: 1px;
    border: 1px solid black;
    display: flex;
    align-self: center;
    margin-left: 50px;
  }
  footer {
    background-color: whitesmoke;
    padding: 30px;
  }
  footer .cont {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
  }
  footer .txt2 {
    display: flex;
    gap: 20px;
  }
  footer p {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
  footer .links a img {
    height: 30px;
  }
  footer .links {
    display: flex;
    gap: 1.5rem;
  }
 #join {
  background-color: whitesmoke;
  display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
}
.container2 {
  background-color: white;
    width: 1162px;
    height: 620px;
    display: flex;
    gap: 2rem;
}
.left {
    background-image: url("./img/Untitled\ \(3\).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    height: 620px;
    padding-left: 32px;
    color: white;
}
.kodecamp {
    margin-top: 39px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Playfair display', sans-serif;
    line-height: 39.99px;
}
.txt {
    margin-top: 12px;
    color: #2297f7f1;
}
p.head {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
p.sub {
    font-weight: 700;
    font-size: 20px;
    line-height: 26.66px;
    font-family: 'Playfair Display', sans-serif;
}
.right {
    width: 50%;
    padding-top: 2px;
}
.img {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.sign_up  p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    line-height: 39.99px;
    font-weight: 700;
    color:#086DB8;
    padding-top: 20px;
}
.name {
    display: flex;
    margin-top: 20px;
    gap: 5rem;
}
.fname {
    width: 40%;
    display: flex;
    flex-direction: column;
  gap: 0.5rem;
}
.fname label {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.99px;
    font-family: 'Playfair Display', sans-serif;
 
}
.fname input {
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 277px;
    padding-left: 15px;
}
.lname {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}
.lname label {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.99px;
    font-family: 'Playfair Display', sans-serif;
}
.lname input {
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 277px;
    padding-left: 15px;
}
.fname select {
    border: 1px solid black;
    border-radius: 4px;
    height: 43px;
    width: 280px;
}
.fname select option {
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
}
.lname select {
    border: 1px solid black;
    border-radius: 4px;
    height: 43px;
    width: 280px;
    
}
.lname select option {
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
}
.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info label {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.99px;
    font-family: 'Playfair Display', sans-serif;
}
textarea {
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 35px;
    width: 588px;
    padding-left: 15px;
}
.button {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.btn {
    text-decoration: none;
    width: 162px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #086DB8;
    background-color: #086DB8;
    font-size: 18px;
    border-radius: 10px 0px 10px 0px;
    line-height: 23.99px;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
}

