@import url(./font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav {
    background-color: #338eda;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
nav ul {
    display: flex;
    gap: 3rem;
    padding-right: 50px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}
#join {
    border: 3px solid white;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
}
#join:hover {
    background-color: rgb(255, 81, 0);
    border: none;
}
.hero {
    background-color: #ffffff;
    color: #338eda;
    display: flex;
    min-height: 83.5vh;
    min-width: 100%;
}
header {
    margin-left: 300px;
}
.cta-button {
    background-color: #33d6a6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .hero header p.head {
    font-size: 40px;
  }