@import url(./font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #ff8c37;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
nav ul {
    display: flex;
    gap: 2rem;
    padding-right: 50px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#join {
    border: 3px solid white;
    background-color: transparent;
    padding: 5px 10px;
}
#join:hover {
    background-color: #ec3750;
    border: none;
}